body{
    background-image: url(wes-grant-c4sHywSrPes-unsplash.jpg);
    background-size: cover;
}
.page{
    height: 100vh;
}
.form-section{
    width: 300px;
    min-height: 500px;
    background-color: rgba(56, 56, 63, 0.3);
    padding: 16px;
    border-radius: 3px;
    display: none;

}
.slide-in-bck-center {
	animation: slide-in-bck-center 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}








 @keyframes slide-in-bck-center {
    0% {
      transform: translateZ(600px);
      opacity: 0;
    }
    100% {
      transform: translateZ(0);
      opacity: 1;
    }
  }
  