*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Teko', sans-serif;
    overflow: hidden
}
html{
    scroll-behavior: smooth;
}
.header{
    height: 60px;
    background-color: rgb(30, 36, 37,0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-family: 'Teko', sans-serif;
 
}
.container-fluid{
    height: 100%;
}
.logo-link{
    color: rgb(245, 250, 252);
    font-size: 30px;
    font-family: 'Lobster', cursive;

}
.header-menu{
    width: 30%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between
}
.menu-link{
    color: rgb(234, 244, 247);
    font-size: 18px;
}

.section{
    height: 100vh;
    padding-top: 60px
}
#home{
    background-image: url(scott-webb-ZLeogVvtXk0-unsplash.jpg);
    background-size: cover;
    background-attachment: fixed;

    
    
}
#about{
    background-image: url(https://images.unsplash.com/photo-1551373884-8a0750074df7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
    background-size: cover;

}
#works{
    background-image: url(2c44bb7c-7f6c-46aa-ab18-5d6df35d987b.jpg);
    background-size: cover;
}
#contact{
    background-image: url(angele-kamp-Ps0r8xOpnKI-unsplash.jpg);
    background-size: cover;

}
.home-title{
    position: absolute;
    left: 4%;
    bottom: 5%;
    color: rgb(24, 25, 26);
    animation: roll-in-right 2s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
   

}
.button-title{
    position: absolute;
    left: 24%;
    bottom: 1%;
    background-color: rgb(221, 221, 221, 0.6);
   
    animation: roll-in-right 2s cubic-bezier(0.470, 0.000, 0.745, 0.715) 1s both;
}




/*  ----------- */

 @keyframes roll-in-right {
    0% {
      transform: translateX(800px) rotate(540deg);
      opacity: 0;
    }
    100% {
      transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
  }
  
.aboutme{
    position: absolute;
    right: 25%;
    color: rgb(18, 22, 18, 0.6);
    animation: puff-in-center 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
}
  .IAM{
      position: absolute;
      color: rgba(24, 32, 24, 0.8);
      right: 34%;
      top: 105%;
      width: 27%;
      font-size: 20px;
      
      animation: puff-in-center 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
  }


 @keyframes puff-in-center {
    0% {
      transform: scale(2);
      filter: blur(4px);
      opacity: 0;
}
    100% {
      transform: scale(1);
      filter: blur(0px);
      opacity: 1;
    }
  }
  
.cnt{
    position: absolute;
left: 46%;
color: rgb(31, 37, 31, 0.9);
animation: tilt-in-fwd-bl 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) alternate both;
}

 @keyframes tilt-in-fwd-bl {
    0% {
      transform: rotateY(-20deg) rotateX(-35deg) translate(-300px, 300px) skew(-35deg, 10deg);
      opacity: 0;
    }
    100% {
      transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
      opacity: 1;
    }
  }
  

  .fas {
      position: absolute;
      top: 90%;
      left: 50%;
      color: rgb(60, 61, 63,0.6);
      
      animation: slide-bottom 1.4s cubic-bezier(0.600, -0.280, 0.735, 0.045) infinite alternate-reverse both;
  }

@keyframes slide-bottom {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(100px);
    }
  }
  .page{
    height: 100vh;}
  .form-section{
    width: 300px;
    min-height: 500px;
    background-color: rgba(56, 56, 63, 0.3);
    padding: 16px;
    border-radius: 3px;
    display: none;
   

}

.slide-in-bck-center {
	animation: slide-in-bck-center 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}








 @keyframes slide-in-bck-center {
    0% {
      transform: translateZ(600px);
      opacity: 0;
    }
    100% {
      transform: translateZ(0);
      opacity: 1;
    }
  }
 
 .myNumber{
  position: absolute;
  color: rgb(46, 46, 46, 0.7);
  left: 75%;
  top: 390%;
  font-size: 20px;
  
 }
 #arrow{
   font-size: 40px;
 }
 